.deployments.full {
  margin: 0 10px;
}

.deployments.full .deploymentsContainer {
  -ms-flex-pack: justify;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: baseline;
  margin: 0;
  min-height: 36px;
  padding: 4px;
  position: relative;
  width: 100%;
}

.deployments.full .deploymentsContainer > a,
.deployments.full .deploymentsContainer > div {
  background-color: #588a00;
  border-radius: 3px;
  color: white;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
}
.deployments.full .deploymentsContainer > a:hover {
  background-color: #3c6000;
}
